@import "compass";

/* Variables */

$default-transition-duration: 0.3s;
$color: #f39c12;

$broken-white : #f5f5f5;
$red : #b90100;

/* Libs */
@import "libs/bootstrap";
//@import "libs/animate";
@import "libs/wysiwyg-wp";
//@import "libs/magnific-popup";
@import "libs/breadcrumbs";

@import "libs/cookie_bar";


@import "base";
@import "btn";
@import "tools";
@import "libs/owl-carousel";


@import "header/header-top";
@import "header/nav";


@import "footer/pre-footer";
@import "footer/footer-links";


//Cross Browser
@import "crossbrowsers/firefox";
